body {
  font-family: tahoma;
  font-size: 11px;
}

input, select, textarea {
	font-family: tahoma;
	font-size: 11px;
}

#mycalendar { background-color: #999999; }
#mycalendar .general { background-color: #FFFFFF; }
#mycalendar .othermonth { background-color: #EEEEEE; color: #AAAAAA; }
#mycalendar .header { background-color: #999999; color: #FFFFFF; }
#mycalendar .today { background-color: #FFFFCC; }
#mycalendar .bg { background-color: #999999; }
#mycalendar .select { background-color: #FFCC99; }
#mycalendar .othermonth a:link { text-decoration : none; font-family: tahoma; color: #CCFFCC; }
#mycalendar .othermonth a:visited { text-decoration : none; font-family: tahoma; color: #CCFFCC; }
#mycalendar .othermonth a:hover { text-decoration : underline; font-family: tahoma; color: #FFFFFF; }
#mycalendar a:link { text-decoration : none; font-family: tahoma; color: #000000; }
#mycalendar a:visited { text-decoration : none; font-family: tahoma; color: #000000; }
#mycalendar a:hover { text-decoration : underline; font-family: tahoma; color: #FF0000; }
#mycalendar .btn { background-color: #CCCCCC; border: 0px solid #000000; }
#mycalendar .btn a:link { text-decoration : none; font-family: tahoma; color: #000000; }
#mycalendar .btn a:visited { text-decoration : none; font-family: tahoma; color: #000000; }
#mycalendar .btn a:hover { text-decoration : underline; font-family: tahoma; color: #FF0000; }
