html,body{height:100%}
body {
	font-size:12px;
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	background-image:url(../img/bkg_login.jpg);
}
body td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
a {
	color:#990000;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}

/********* ERROR PAGE *********/
#error {
	width:500px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-200px auto auto -250px;
	border:3px dotted #666;
	text-align:left;
	padding: 20px;
	background-color: #FFFFCC;
	background-image:url(../img/icon_alert_big.gif);
	background-position:20px 20px;
	background-repeat:no-repeat;
}
#error h1{
	height:120px;
	margin:50px 0 0 100px;
	font-size:30px;
	font-weight:bold;
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	line-height:32px;
	padding-left:30px;
}
/********* /ERROR PAGE *********/