/*****************************
 USHAHIDI STYLES
 v1.0
 David Kobia - 07/08/2008
*****************************/
* { margin: 0; padding: 0; }
html{
height: 100%;
width: 100%;
}
body, td {
	font: 13px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	height:100%;
}
a:link,
a:visited {
	color:#003366;
}
a:visited {
	color:#0066CC
}
a:hover,
a:focus,
a:active {
	text-decoration:none;
	color:#003399;
}

/* HEADER */
/*****************************/
#ushahidi_header{
	padding:10px 15px 0 15px;
	margin:0 0 20px 0;
	background-color: #CCCCCC;
	background-repeat:repeat-x;
	border-bottom:#666 solid 1px;
}
#ushahidi_logo{
	font-size:32px;
	font-weight:bold;
	color:#000;
	font-family:Geneva, Arial, Helvetica, sans-serif;
}
/*****************************

/* NAV */
/*****************************/
ul#ushahidi_nav{list-style-type:none;width:100%;position:relative;height:27px;font-family:Verdana,"Trebuchet MS",Arial,sans-serif;font-size:13px;margin:0;padding:11px 0 0 0;}
ul#ushahidi_nav li{display:block;float:left;margin:0 0 0 4px;height:27px;}
ul#ushahidi_nav li.left{margin:0;}
ul#ushahidi_nav li a{
	display:block;
	float:left;
	color:#fff;
	background-color:#666666;
	line-height:27px;
	text-decoration:none;
	padding:0 17px 0 18px;
	height:27px;
}
ul#ushahidi_nav li a.right{padding-right:19px;}
ul#ushahidi_nav li a:hover{
	background-color:#333333;
}
ul#ushahidi_nav li a.current{color:#000;background-color:#fff;font-weight:bold;border:#666 solid;border-width:1px 1px 0 1px;}
ul#ushahidi_nav li a.current:hover{
	color:#333333;
	background-color:#fff;
	font-weight:bold;
}
/*****************************/


/* SUB_NAV */
/*****************************/
.sub_nav{
border-bottom: 1px solid #666;
/* width: 90%; width of menu. Uncomment to change to a specific width */
/* margin-bottom: 1em; */
}
.sub_nav ul{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}
.sub_nav li{
display: inline;
margin: 0;
}
.sub_nav li a{
text-decoration: none;
padding:3px 7px;
margin-right: 3px;
border: 1px solid #666;
color: #2d2b2b;
background: white url(../img/shade.gif) top left repeat-x;
}
.sub_nav li a:visited{
color: #2d2b2b;
}
.sub_nav li a:hover{
text-decoration: underline;
color: #2d2b2b;
}
.sub_nav li.selected{
position: relative;
top: 1px;
}
.sub_nav li.selected a{ /*selected main tab style */
background-image: url(../img/shadeactive.gif);
border-bottom-color: white;
}
.sub_nav li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}
/*****************************/


/* WRAPPER+BODY */
/*****************************/
#container {
   min-height:100%;
   position:relative;
}
#ushahidi_wrapper{
	margin-left: 15px;
	margin-right: 15px;
	max-width: 980px;
	padding-bottom:70px;
}
#ushahidi_wrapper h2{
	font-size:18px;
	font-weight:bold;
	color:#333333;
	border-bottom:#735823 solid 1px;
	margin:0 0 10px 0;
}
.clear { clear: both;}
.info_container{
	height: auto;
}
.info_blocks{
	margin-top: 20px;
	width: 50%;
	float: left;
	height: auto;
}
.info_block{
	margin-right:20px;
	height: auto;
}
.info_block h3{
	border:0;
	margin:0;
	padding:5px;
	font-size:14px;
	background-color:#E0DBF0;
}
.info_stats{
	position:relative;
	line-height:32px;
	border-bottom:1px dotted #666;
	padding-bottom:4px;
	margin-bottom:10px;
	overflow:auto;
}
.info_stats img{
	float:left;
	margin:0 10px 0 0;
	border:0;
}
.info_stats_text, .info_stats_num{
	line-height:32px;
	font-weight:bold;
	font-size:16px;
}
.info_stats_text{
	float:left;
}
.info_stats_num{
	float:right;
}
.info_normal{
	font-size:13px;
	font-weight:normal;
}
.info_content{
	margin:5px 10px 10px 10px;
}
.info_item{
	margin-bottom:10px;
}
.info_mediasource{
	font-style:italic;
	font-weight:bold;
	color:#666600;
}
.info_small_text, .small_text{
	font-size:10px;
}
#placeholder{
	width:400px;
	height:250px;
}
#overview{
	width:350px;
	height:50px;
	margin:10px 0 0 40px;
}
.alt1{
	background-color:#eee;
}
.alt2{
	background-color:#FFFFCC;
}
.alt3{
	background-color:#CCFFCC;
}
/*****************************/

/* FOOTER */
/*****************************/
#ushahidi_footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;
	text-align:left;
	background-color:#666;
	color:#ccc;
}
#ushahidi_footer p{
	padding:15px;
	margin:0;
}
/*****************************/

/* MAP */
/*****************************/
.report_mapcontainer{
	width:50%;
	float:left;
}
.report_map{
	margin-right:15px;
	height: 300px;
	border:1px #000000 solid;
}
.report_map_right{
	width:50%;
	float:right;
}
.report_latlng{
	padding:8px;
	border-bottom:1px #666 dotted;	
}
.report_info{
	font-size:14px;
	color:#990000;
	font-weight:bold;
	margin:0 0 10px 0;
}
/*****************************/


/* FORMS */
/*****************************/
form{
	margin:0;
	padding:0;
}
.textbox {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border:#2967a4 1px solid;
	COLOR: #003399;
	background-color:#FFFFCC;
	font-weight: bold;
	width:80%;
	padding:5px;
	background-image:url(../img/cell-background.gif);
}
.textbox2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border:#2967a4 1px solid;
	COLOR: #003399;
	background-color:#FFFFCC;
	font-weight: bold;
	padding:5px;
	background-image:url(../img/cell-background.gif);
}
.textarea {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border:#2967a4 1px solid;
	COLOR: #333;
	background-color:#FFFFCC;
	padding:8px;
	width:90%;
	background-image:url(../img/cell-background.gif);
}
.dropdown {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	border:#2967a4 1px solid;	
	color: #003399;
	padding: 3px;
	background-color: #FFFFCC;
}
.form_other {
	border:#2967a4 1px solid;	
	padding: 5px;
	background-color: #FFFFCC;
	width:85%;
}

.report_textbox {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:#2967a4 1px solid;
	COLOR: #003399;
	background-color:#FFFFCC;
	font-weight: bold;
	width:80%;
	padding:2px;
	background-image:url(../img/cell-background.gif);
}
.report_textbox2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:#2967a4 1px solid;
	COLOR: #003399;
	background-color:#FFFFCC;
	font-weight: bold;
	padding:2px;
	background-image:url(../img/cell-background.gif);
}
.report_latlng_textbox {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:#2967a4 1px solid;
	COLOR: #003399;
	background-color:#FFFFCC;
	font-weight: bold;
	padding:2px;
	background-image:url(../img/cell-background.gif);
	width:100px;
}
.report_textarea {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border:#2967a4 1px solid;
	COLOR: #333;
	background-color:#FFFFCC;
	padding:2px;
	width:90%;
	background-image:url(../img/cell-background.gif);
}
.report_dropdown {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	border:#2967a4 1px solid;	
	color: #003399;
	padding: 1px;
	background-color: #FFFFCC;
}
.btn_submit{
	margin-top:5px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FFFFFF;
	height:40px;
	background-color:#666666;
	border-top-color:#999999;
	border-bottom-color:#333333;
	border-left-color:#999999;
	border-right-color:#333333;
	border-width:3px;
	width:250px;
}
.btn_back {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #990000;
	height: 24px;
	border-right-color: #660000;
	border-bottom-color: #660000;
	padding:0 4px 0 4px;
}
.btn_new {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #339900;
	height: 24px;
	border-right-color: #336600;
	border-bottom-color: #336600;
	padding:0 4px 0 4px;
}
.btn_extra {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #999999;
	height: 24px;
	border-right-color: #666666;
	border-bottom-color: #666666;
	padding:0 4px 0 4px;
}
.btn_extra2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #996600;
	height: 24px;
	border-right-color: #663300;
	border-bottom-color: #663300;
	padding:0 4px 0 4px;
}
.form_error{
	background-color:#FFCCCC;
	padding: 10px;
	margin-bottom:10px;
	font-size:11px;
}
.form_success{
	background-color:#CCFFCC;
	padding: 10px;
	margin-bottom:10px;
	font-size:11px;
	text-align:center;
}
.form_error h3, .form_success h3{
	margin:0;
	padding:0;
	border:0;
	font-size:13px;
	text-decoration:underline;
}
/*****************************/


/* ADMIN TABLES */
/*****************************/
.admin_tbl{

}
.admin_tbl{
	font-weight:bold;
}
.admin_tbl td{
	padding:3px 8px 3px 8px;
}
.admin_tbl_title, .admin_tbl_title td{
	background-color:#999999;
	color:#fff;
	font-weight:bold;
	font-size:11px;
}
.admin_form_tbl{
	margin-bottom:25px;
}
.admin_form_tbl td{
	padding: 6px;
}
.report_tbl{

}
.report_tbl td{
	padding: 2px;
}
/*****************************/


/* PAGINATION */
/*****************************/
.pagination{
margin:20px 0 20px 0;
padding: 2px;
}
.pagination ul{
margin: 0;
padding: 0;
text-align: left; /*Set to "right" to right align pagination interface*/
}
.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}
.pagination a, .pagination a:visited{
padding: 0 5px;
border: 1px solid #333;
text-decoration: none; 
color: #333;
}
.pagination a:hover, .pagination a:active{
border: 1px solid #2b66a5;
color: #000;
background-color: #FFFF80;
}
.pagination a.currentpage{
	background-color: #666666;
	color: #FFF !important;
	border-color: #333333;
	font-weight: bold;
	cursor: default;
}
.pagination a.disablelink, .pagination a.disablelink:hover{
background-color: white;
cursor: default;
color: #929292;
border-color: #929292;
font-weight: normal !important;
}
.pagination a.prevnext{
font-weight: bold;
}
/*****************************/
