<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="bootstrap.php">
    <testsuites>
    	<testsuite name="Ushahidi_Web Tests">
    		<directory>./classes</directory>
    	</testsuite>
    </testsuites>
    <!--
    <filter>
        <whitelist>
            <directory suffix="*">../controllers</directory>
            <directory suffix="*">../helpers</directory>
            <directory suffix="*">../libraries</directory>
        </whitelist>
    </filter>
    -->
    
    <php>
        <server name="HTTP_HOST" value="localhost" />
    </php>
    
</phpunit>
