<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10J869</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ForkLetStarter</string>
	<key>CFBundleIconFile</key>
	<string>ForkLetStarter</string>
	<key>CFBundleIdentifier</key>
	<string>com.binarynights.ForkLetStarter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4A1006</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>4A1006</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>4A1006</string>
	<key>ForkLiftPath</key>
	<string>/Applications/ForkLift.app</string>
	<key>ForkletSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGvr9YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QLgcIJSYnKCkqKywtLi8wMTJUVVZcYGdrcXJ2R3uMjY6PkJGSmJmaoKmqrrO0
	urtVJG51bGzTCQoLDA0ZViRjbGFzc1dOUy5rZXlzWk5TLm9iamVjdHOAGKsODxAREhMU
	FRYXGIACgAOABIAFgAaAB4AIgAmACoALgAyrGhscHR0aICEaIx2ADYAOgA+AGoAagA2A
	G4AkgA2AJYAaWEFkZEl0ZW1zWlRpbWVPZmZzZXReU291cmNlRmF2b3JpdGVbRGVsZXRl
	SXRlbXNdU3luY0ludmlzaWJsZVtTeW5jRm9sZGVyc15UYXJnZXRGYXZvcml0ZVpVcGRh
	dGVNb2RlW1VwZGF0ZUl0ZW1zXkV4Y2x1ZGVGaWx0ZXJzXxATRGV0ZXJtaW5lVGltZU9m
	ZnNldAkQAN8QEjM0NTY3ODk6Ozw9Pj9ACUFCQ0RFRkdGSTFGS0xGRkYxUEZGRlR1dWlk
	WXZvbHVtZVVSTF1sZWZ0RmF2b3JpdGVzW2Fza1Bhc3N3b3JkV2Jhc2VVcmxYdXNlckRh
	dGFUdHlwZVRob3N0VHBhdGhec3RyaW5nRW5jb2Rpbmdda2V5RXF1aXZhbGVudFlsb2Nh
	bFBhdGhYdXNlcm5hbWVfEBVrZXlFcXVpdmFsZW50TW9kaWZpZXJecmlnaHRGYXZvcml0
	ZXNUbmFtZVRwb3J0gBCAEoAACIAAgBaAAIAREAWAAIAAgACAGYAAgACAAF8QJEFFQ0Y0
	NzkxLTZEM0ItNDMwMC04RjlDLTJEMDI2MEEwODNGRF8QLC9Vc2Vycy9DYWxlYi9TaXRl
	cy9Vc2hhaGlkaV9EZXYvdGhlbWVzL2J1ZW5v0wlXWFlaRltOUy5yZWxhdGl2ZVdOUy5i
	YXNlgBWAE4AA0gldXl9ZTlMuc3RyaW5ngBRfEBFmaWxlOi8vbG9jYWxob3N0L9JhYmNk
	WiRjbGFzc25hbWVYJGNsYXNzZXNfEA9OU011dGFibGVTdHJpbmejY2VmWE5TU3RyaW5n
	WE5TT2JqZWN00mFiaGlVTlNVUkyiamZVTlNVUkzTCQoLDG1vgBihboAXoRqADVtwYXNz
	aXZlTW9kZdJhYnN0XxATTlNNdXRhYmxlRGljdGlvbmFyeaNzdWZcTlNEaWN0aW9uYXJ5
	0mFid3haQk5GYXZvcml0ZaJ5ZlpCTkZhdm9yaXRlCN8QEjM0NTY3ODk6Ozw9Pj9ACUFC
	Q3xGRkdGgYKDhExGRocxUEaKi4AcgACAAAiAAIAiEGSAHoAhgACAAIAggBmAAIAdgB9f
	ECRBNDI1QkE2MS01RjlELTQ1RkItQUI2My03REE4MDAxMUY0QkJeTWFpbiBXZWIgU3Bh
	Y2VbNjcuMjIuMTM4LjQQFV51c2hhaGlkaS1jYWxlYl8QHS9pZS51c2hhaGlkaS5jb20v
	dGhlbWVzL2J1ZW5v0wkKCwyUloAYoZWAI6EagA1bcGFzc2l2ZU1vZGUQAdIJC5ucgC2j
	nZ6fgCaAKYAr1aE5ogmjpKVHpzBaZXhwcmVzc2lvblVmaWxlc1dmb2xkZXJzgCcQAgiA
	KAlUZGV2LdJhYqusXEJOU3luY0ZpbHRlcqKtZlxCTlN5bmNGaWx0ZXLVoTmiCaOvpUen
	MIAqCIAoCVQuZ2l01aE5ogmjtbZHpzCALBADCIAoCVQuYXBw0mFivL1XTlNBcnJheaK8
	Zl8QD05TS2V5ZWRBcmNoaXZlctHAwVRyb290gAEACAARABoAIwAtADIANwBoAG4AdQB8
	AIQAjwCRAJ0AnwChAKMApQCnAKkAqwCtAK8AsQCzAL8AwQDDAMUAxwDJAMsAzQDPANEA
	0wDVAN4A6QD4AQQBEgEeAS0BOAFEAVMBaQFqAWwBkwGYAaIBsAG8AcQBzQHSAdcB3AHr
	AfkCAwIMAiQCMwI4Aj0CPwJBAkMCRAJGAkgCSgJMAk4CUAJSAlQCVgJYAloCXAKDArIC
	uQLFAs0CzwLRAtMC2ALiAuQC+AL9AwgDEQMjAycDMAM5Az4DRANHA00DVANWA1gDWgNc
	A14DagNvA4UDiQOWA5sDpgOpA7QDtQPcA94D4APiA+MD5QPnA+kD6wPtA+8D8QPzA/UD
	9wP5A/sEIgQxBD0EPwROBG4EdQR3BHkEewR9BH8EiwSNBJIElASYBJoEnASeBKkEtAS6
	BMIExATGBMcEyQTKBM8E1AThBOQE8QT8BP4E/wUBBQIFBwUSBRQFFgUXBRkFGgUfBSQF
	LAUvBUEFRAVJAAAAAAAAAgEAAAAAAAAAwgAAAAAAAAAAAAAAAAAABUs=
	</data>
	<key>ForkletType</key>
	<string>Synclet</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>ForkLetStarter</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
