.*swp
.htaccess
*~
*.DS_Store
application/logs/*
application/cache/*
media/uploads/*
application/config/auth.php
application/config/config.php
application/config/database.php
application/config/encryption.php
tests/phpunit/phpunit.xml
