<?xml version="1.0" encoding="UTF-8"?>
<rewrite>
	<rules>
		<rule name="rule 1V" stopProcessing="false">
			<match url="^(application|modules|system|tests|sql)"  />
			<action type="Rewrite" url="/-"  />
		</rule>
		<rule name="rule 2V" stopProcessing="false">
			<match url=".*"  />
			<action type="Rewrite" url="/index.php?kohana_uri={R:0}"  appendQueryString="true" />
		</rule>
	</rules>