/**
 * JQueryUI theme overrides for accordion
 * Used by the slider on the reports page
 */

#accordion .ui-accordion-header .ui-icon {
	right: .5em;
}
.ui-accordion .ui-accordion-header a {
	padding: 0.5em 2.2em 0.5em 0.5em;
	color: #797979;
	font-weight: bold;
}
#accordion .ui-accordion-header .small-link-button {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	font-size: .9em;
	font-weight: normal;
	text-decoration: underline;
}

/* Active state */
.ui-state-active, .ui-widget-content .ui-state-active {
	background: #efefef url(../images/bg_filter-accordion-title.png) top repeat-x;
}
.ui-state-active a.f-title {
	color: #2f4079;
}
.ui-accordion .ui-accordion-content {
	background: #efefef;
}

/* Content area */
.ui-accordion .ui-accordion-content {
	padding: 0 8px 18px 8px;
	font-size: 11px;
}
.ui-accordion .ui-accordion-content p {
	margin-bottom: 8px;
}
.ui-accordion .ui-accordion-content a {
	color: #1f5e82;
}
.ui-accordion .ui-accordion-content a.reset, .ui-accordion .ui-accordion-header a.reset, a.reset {
	color: #981e01;
}