/*
Name: base.css
Description: Multiple Hosted Instance
Version: 1.0
Author: Caleb Bell
Author Email: caleb@ushahidi.com
*/

/* Base Styles
--------------*/
	html { background:#f3f4f6; }
	
	body.content { font-size:.75em; }
	
	body { background:#f3f4f6; height:100%; }
	
	/* home page */
	body.crowdmap-home { background:transparent url(../../img/mhi/bg_body.png) top repeat; height:100%; }
	
	
	
	.content h1, .content h2, .content h3, .content h4, .content h5 { margin-top:0; padding-top:0; }
	.content p.sub-title { font-size:16px; font-style:italic; }
	
	.rounded { -moz-border-radius:4px 4px 4px 4px;
			-webkit-border-bottom-left-radius: 4px 4px;
			-webkit-border-bottom-right-radius: 4px 4px;
			-webkit-border-top-left-radius: 4px 4px;
			-webkit-border-top-right-radius: 4px 4px; }
			
	.shadow { -moz-box-shadow:0 2px 2px rgba(0, 0, 0, 0.25); -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 3px 3px; }

	


/* General Content Styles
------------------------*/
	/* Headlines */
	.content h1, .content h2, .content h3, .content h4, .content h5 { color:#3c3c3c; }
	.content h1, .content h2, .content h3 { margin-top:0; padding-top:0; font-family: 'Yanone Kaffeesatz', arial, serif;  }
	.content h2 { font-size:25px; background:transparent url(../../img/mhi/bg_body.png) repeat; margin:-10px -14px 18px; padding:10px 18px; border-bottom:1px solid #ededea; }
	.content h3 { font-size:25px; }
	.content h4 { font-size:16px; }
	
	.content p.sub-title { font-size:16px; font-style:italic; }
	
	.content p, .content li { line-height:1.25em; }
	
	/* Buttons */
	a.button { display:block; text-indent:-23420px; }
	a.btn_sign-up { background:transparent url(../../img/mhi/btn_sign-up.png) 0 0 no-repeat; height:58px; width:244px; } 
		a.btn_sign-up:hover { background:transparent url(../../img/mhi/btn_sign-up.png) 0 bottom no-repeat; }
	
	a.btn_play-slideshow { background:transparent url(../../img/mhi/btn_play-slideshow.png) 0 0 no-repeat; height:43px; width:190px; margin:170px 0 0 170px; } 
		a.btn_play-slideshow:hover { background:transparent url(../../img/mhi/btn_play-slideshow.png) 0 bottom no-repeat; }
	
	.admin-button, .admin-button:visited {
		background: #222 url(../../img/mhi/alert-overlay.png) repeat-x; 
		display: inline-block; 
		padding: 5px 10px 3px; 
		color: #fff; 
		text-decoration: none;
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
		border-bottom: 1px solid rgba(0,0,0,0.25);
		position: relative;
		cursor: pointer;
	}
	
	.admin-button:hover { background-color: #111; color: #fff; }
	.admin-button:active { top: 1px; }
		/* colors */
		.green.admin-button, .green.admin-button:visited		{ background-color: #91bd09; }
		.green.admin-button:hover								{ background-color: #749a02; }
	
	.side-bar-buttons { margin:53px 0 0 0; }
	
	/* Tabs */
	.tabs { border-bottom:2px solid #999; margin:0 0 18px 0; }
		.tabs ul { margin:0; padding:0;}
		.tabs li { display:inline-block; list-style-type:none; }
		.tabs a {
			color: #444; 
			text-decoration: none;
			position: relative;
			cursor: pointer;
			padding: 5px 10px 2px;
			display: inline-block;
			margin-right:3px;
		}
		.tabs a:hover {
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px; 
			-moz-border-radius-bottomleft:0px; -moz-border-radius-bottomright:0px; 
			-webkit-border-radius-bottom-left:0px; -webkit-border-radius-bottom-right:0px;
			background-color:#E5E5E5;
		}
		
		.tabs a.ab-active {
			background: #222 url(../../img/mhi/alert-overlay.png) repeat-x; 
			color: #fff;
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px;
			-moz-border-radius-bottomleft:0px; -moz-border-radius-bottomright:0px; 
			-webkit-border-radius-bottom-left:0px; -webkit-border-radius-bottom-right:0px;
			text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
			background-color: #999;		
		}
			
		.tabs a.ab_active { 	 }
		
	/* one-line select */
	.site-view-filter {}
	.content h3 .one-line-select { font-family:arial,sans-serif; }
	.one-line-select { display:inline-block; vertical-align:middle;margin:0 0 0 10px }
		
		.one-line-select .select-item.first-child { -moz-border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px; }
		.one-line-select .select-item.last-child { -moz-border-radius:0 3px 3px 0; -webkit-border-radius:0 3px 3px 0; border-style:solid; }
		.one-line-select .select-item {
			background-color:#F1F2F4;
			border-color:#CDD0D5;
			border-style:solid none solid solid;
			border-width:1px;
			color:#909397;
			cursor:pointer;
			display:inline-block;
			font-size:11px;
			font-weight:normal;
			line-height:16px;
			padding:0 4px;
		}
		.one-line-select .select-item:hover { color:#2C3034; }
		.one-line-select .select-item.selected { background-color:white; color:#2C3034; font-weight:bold; }
	
	/* Top-Link */
	.top-link { text-align:right; background:transparent url(../../img/mhi/dots.gif) 0 11px repeat-x;  }
	.top-link a { background:#fff; font-size:10px; padding:0 0 0 8px; text-decoration:none; }
		.top-link a:hover { text-decoration:underline; }
		
	/* Page Width */
	#header,#primary-content, #secondary-content, #footer { width:960px; margin:0 auto; position:relative; }


/* Page Wrap */
	/* Home Page */
	body.crowdmap-home #page-wrap { background:transparent url(../../img/mhi/bg_content-home.png) top center no-repeat; }
	
	/* Sub-Pages */
	#page-wrap { background:transparent url(../../img/mhi/bg_header.jpg) top repeat-x; }
	
/* Header
--------------*/
	#header { height:111px; }
			.content h1 { text-indent:-23439px; background:transparent url(../../img/mhi/crowdmap-logo.png) no-repeat; height:71px; width:302px; float:left; margin:17px 0 0 0; }
			.content h1 a { display:block; height:71px; width:302px; }
			p.main-sub-title { float:left; color:#fff;font-size:14px; font-weight:bold; margin:25px 0 0 18px; }

	/* Primary Navigation */
	ul.primary-nav		{ float:right; margin:80px 0 0 0; padding:0; }
	ul.primary-nav li	{ display:inline; list-style-type:none; padding:0 5px; margin:0 0 0 10px; }
	ul.primary-nav li a	{ color:#fff; font-size:16px; font-weight:bold; text-decoration:none; }
	ul.primary-nav li a:hover,
	ul.primary-nav li a.active	{ color:#fff; border-bottom:2px solid; }
	
	/* Login Box */
	#login-box { position: absolute; top:3px; right:0; color:#e3e3e3; font-size:12px;}
	#login-box p { margin:0; }
	#login-box a { background:#96a6a9; color:#f3f3f3; font-weight:bold; margin-left:4px; padding:4px 6px; text-decoration:none; }
	#login-box a.active { background:#f3f4f6; color:#666; padding-bottom:7px;}
	
	#login-form { z-index:1000;  background:#f3f4f6; position:absolute; top:23px; right:0px; font-size:12px;  padding:5px 8px; display:none; }
		
	#login-form form { margin:0; } 
	
	#login-form  p { margin:0 0 5px 0; }
	
	#login-form  p label { display:block; font-weight:bold; }
	#login-form  p input { display:block;  }
	#login-form  p input.text { display:block; width:175px; }
	#login-form .btn_sign-in { background:#96a6a9; color:#f3f3f3; font-weight:bold; padding:4px 6px; border:1px solid; }
	
	#login-form p.forgot-password { background:transparent url(../../img/mhi/dots.gif) 0 2px repeat-x; font-size:10px; padding:5px 0 0; margin:0; }
	p.forgot-password a { background:transparent url(../../img/mhi/bullet.png) 0px 3px no-repeat; padding:0 0 0 10px; }
	
	#login-form .error { color:red; margin:0px; padding:0px; width:100%; text-align:center; line-height:normal;}


/* Footer
--------------*/
	#footer { border-top:2px solid #dededb; margin-top:18px; }
		.footer-block { float:left; padding:5px 0; }
		.footer-block p { margin:0; padding:0; }
		.fb_middle { border-left:2px solid #dededb; margin:0 0 0 8px; padding:0 0 6px; }
		
	#footer ul { margin:0; clear:both; }
	#footer ul li { list-style-type:none; display:block; float:left; margin:0 0 5px; padding:0 2px 0 10px; background:transparent url(../../img/mhi/bullet.png) 0 10px no-repeat; }
		#footer ul li.first { background:none; }
	#footer ul li a { display:block; padding:3px; margin-right:7px; font-size:12px; }
	#footer ul li a:hover { text-decoration:underline; }

/* Body Layout
--------------*/
	
	.twocol-left { float:left; width:565px; background:transparent url(../../img/mhi/bg_content-shadow-bottom-cap.png) bottom left no-repeat; padding-bottom:15px; }
		.content-shadow { background:transparent url(../../img/mhi/bg_content-shadow.png) left repeat-y; padding:10px 28px 1px 18px; }
	.twocol-right { float:left; width:375px; padding:0 0 0 0; position:relative;}
		

/* Side Bar Module
-------------------*/
	.side-bar-module 		{ margin:12px 0 0 0; width:226px; padding:0 0 13px 0; background:#fff; }
		.fixed { position:fixed; top:0px; }
	.side-bar-module h4		{ margin:0; padding:10px 0 7px 15px; font-size:18px; color:#81817f; font-family: 'Yanone Kaffeesatz', arial, serif;  }
	.side-bar-module h4 a { color:inherit; text-decoration: none; }
	.side-bar-module h4 a:hover { text-decoration: underline; }
	.side-bar-content		{ padding:0 18px 1px 18px; line-height:16px; font-size:12px; }
	
	/*Sub-nav Links*/
	ul.sub-nav-links { margin:0; padding:0; }
	ul.sub-nav-links li { padding:0 10px 0 3px; margin:0 0 5px 0; list-style-type:none; border-bottom:1px dotted #d7d7d5; }
	ul.sub-nav-links li a { display:block; padding:3px 0; text-decoration:none; }
	
	/* FAQ Links */
	ul.faq-links { margin:0; padding:0; }
	ul.faq-links li { padding:0 10px 0 20px; margin:0 0 5px 0; list-style-type:none; background:transparent url(../../img/mhi/bullet.png) 9px 8px no-repeat;  }
	ul.faq-links li a { display:block; padding:3px 0; }


/* Home Page 
--------------*/
	body.crowdmap-home #primary-content { height:425px; padding:14px 0 0 0; }
	
	body.crowdmap-home .twocol-left	{ float:left; width:434px; background:none; padding:0 16px 0 0; }
	body.crowdmap-home .twocol-right	{ float:left; width:510px; }
		body.crowdmap-home #secondary-content .twocol-right	{ width:490px; padding:0 0 0 20px; }
		
		body.crowdmap-home #secondary-content { color:#676767; }
	
	h2.title-lead-in { margin:14px 0 24px; font-size:36px; padding:0; background:none; border:none; }
	
	ul.elevator-list { margin:0; padding:0;}
	ul.elevator-list li { list-style-type:none; margin:0 0 26px 0; padding:0 0 0 63px; font-size:20px; font-weight:bold; line-height:22px; color:#707070; }
		ul.elevator-list li.s01 { background:transparent url(../../img/mhi/bg-intro-list.png) left top no-repeat; }
		ul.elevator-list li.s02 { background:transparent url(../../img/mhi/bg-intro-list.png) left -75px no-repeat;  }
		ul.elevator-list li.s03 { background:transparent url(../../img/mhi/bg-intro-list.png) left -150px no-repeat; padding:12px 0 13px 63px;  }
	
	table.tbl-sign-up { border:none; }
	table.tbl-sign-up td { border:none; padding:27px 10px 10px; }
		td.meta-text { font-size:14px; font-style:italic; text-align:right; line-height:18px; }
		td.sign-up-box {  }
		
	.intro-slideshow { }
	p.slide + p { margin:0; }
	p.slide { font-size:12px; font-style:italic; color:#666; }
		p.slide img { margin:20px 0 0 29px; }
		p.full img { margin:9px 0 0 19px; }
		
		span.slide-desc { color:#fff; position:absolute; bottom:0; display:block; margin:0 1px 1px 20px; padding:18px; background: transparent url(../../img/mhi/bg_transparent-black-75.png) repeat; }
		span.slide-desc a {  }
		
	/*What You Can Do*/
	ul.what-you-can-do { margin:0; padding:0; }
		ul.what-you-can-do li { list-style-type:none; float:left; width:222px; margin:0 18px 10px 0; font-size:14px; font-style:italic; height:128px; }
		ul.what-you-can-do li:nth-child(even) { margin-right:0;  }
		
		ul.what-you-can-do li strong { display:block; font-size:20px; font-style:normal; color:#484848; margin:0 0 16px 60px; line-height:20px; }
		
		li.monitor 	{ background:transparent url(../../img/mhi/icon_monitor-elections.png) top left no-repeat; }
		li.map		{ background:transparent url(../../img/mhi/icon_map-crisis.png) top left no-repeat; }
		li.curate	{ background:transparent url(../../img/mhi/icon_curate-local-resources.png) top left no-repeat; }
		li.document { background:transparent url(../../img/mhi/icon_zombie-invasion.png) top left no-repeat; }
	


/* Features Page 
-----------------*/
	.feature { padding:1px 0; margin:0 -24px 0 -15px; height:198px; border-bottom:1px solid #b2b2b2; }
		.feature h3 { margin-top:20px; }
		.feature p { }
	
	#f_no-install	{ border-top:1px solid #b2b2b2;
					  padding-left:290px; background:transparent url(../../img/mhi/feature_no-installation.jpg) no-repeat left; }
	#f_map			{ padding:1px 290px 1px 18px;  background:transparent url(../../img/mhi/feature_interactive-map.jpg) no-repeat right; }
	#f_timeline		{ padding-left:290px; background:transparent url(../../img/mhi/feature_dynamic-timeline.jpg) no-repeat left; }
	#f_realtime		{ border-bottom:none;
					  padding:1px 290px 1px 18px; background:transparent url(../../img/mhi/feature_realtime-datatracking.jpg) no-repeat right; }

/* The Form
--------------*/
	#frm-MHI-Signup { margin-bottom:0; }
		
		.content .frm-content table,
		.content .frm-content table td { border:0; }
		
		.frm-content h2 { color:#0089ca; background:none; font-size:1.5em; margin:0 0 10px 0; line-height:26px; margin:0 0 12px; padding:0; border:none; }
			.frm-content p.desc { font-size:13px;}
		
		img.step { padding:0 10px 0 0;}
		
		/*Form elements*/
		.frm-content label {  }
		.content textarea, .content input[type="text"], .content input[type="password"]  { font-size:16px; font-family:inherit; font-weight:bold; padding:5px 4px 3px; color:#595959; }
		
			/*Error Styles*/
			.content input[type="text"].error, .content input[type="password"].error, .content textarea.error { border:2px solid #ff6666; }
			label.error { display:block; display:block; font-size:11px; font-weight:bold; color:#ff6666; }
			
			/*Buttons*/
			span.inputButton { display:inline-table; padding-right:7px; cursor:pointer;
							   background:transparent url(../../img/mhi/bg_InputButton.gif) no-repeat scroll right top; }
							
			span.inputButton input { border:none; height:29px; color:#fff; font-weight:bold; font-size:12px; line-height:28px;
									 font-family: Trebuchet, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
									 width:auto; overflow:visible; cursor:pointer; padding:0 5px 4px 9px;
									 background:transparent url(../../img/mhi/bg_InputButton.gif) no-repeat scroll left top; }
		
			span.inputButton:hover,
			table span.inputButton:hover { background:transparent url(../../img/mhi/bg_InputButton.gif) no-repeat scroll right bottom; }
			
			span.inputButton input:hover,
			table span.inputButton input:hover { background:transparent url(../../img/mhi/bg_InputButton.gif) no-repeat scroll left bottom; }


		
		#signup_subdomain { margin:0 5px; }
		
		.content .frm-content table td { vertical-align:top; padding:5px 10px; }
		
		.content .frm-content table td span,
		.frm-content p span { font-size:11px; color:#CCC; display:block; }


/* System Messages
-------------------------*/
.msg { padding:5px 8px; font-size:12px; }
.m-success	{ border:1px solid #A5BC83; background:#4D4D4D; }
.m-info		{ border:1px solid #A1CCFF; background:#DEEDFF; }
.m-warning	{ border:1px solid #F6B200; background:#F6D273; }
.m-error 	{ border:1px solid #FF9393; background:#EB4848; color:#fff; }
	.m-error-text { color:#EB4848; padding:0; }

/* "Your Deployment"
-------------------------*/
	#deployments { margin-bottom:28px; }
	.deployment { -moz-border-radius:3px; -webkit-border-radius:3px; padding:5px; border:1px solid #DDE0E5; margin:0 0 18px 0; }
	.deployment:hover { background:#F8F9FB; }
	.deployment * { margin:0; }
	.d-left { float:left; width:275px;  }
	.d-right { float:left; width:230px; height:50px }
		p.d-tagline { font-size:12px; color:#999; margin-bottom:5px;}
		p.d-urls { }
		.d-left h4 { margin:0 0 5px 0; }
		.d-left h4 a { text-decoration:none; }
		.d-left h4 a:hover { text-decoration:underline; color:#3366CC; }
		.d-left h4 span { font-size:8px; text-transform:uppercase; font-weight:bold; color:#fff; padding:3px 3px 2px 3px; display:inline-block; vertical-align:middle;
		 					 -moz-border-radius:3px;
							 -webkit-border-radius:3px; }
			
			.d-active .d-left h4 span { background:#030; }
			.d-active a.active-link { color:#900; }
			.d-active a.active-link:hover { color:#CC3333; }
			
			.d-inactive .d-left h4 span { background:#900; }
			.d-inactive a.active-link { color:#030; }
			.d-inactive a.active-link:hover { color:#060;  }
	
	p.d-actions { clear:both; margin:0 -5px -5px; padding:3px 5px; font-size:12px; border-top:1px solid #DDE0E5; background:#CCC; }
	p.d-actions input.text { font-size:inherit; padding:0;font-weight:normal; padding:2px; }
	p.d-actions a { font-weight:bold; }
	
	p.no-results { display:none; }
	
	 
