div#framework_error { background:#fff; border:solid 1px #ccc; font-family:sans-serif; color:#111; font-size:14px; line-height:130%; }
div#framework_error h3 { color:#fff; font-size:16px; padding:8px 6px; margin:0 0 8px; background:#f15a00; text-align:center; }
div#framework_error a { color:#228; text-decoration:none; }
div#framework_error a:hover { text-decoration:underline; }
div#framework_error strong { color:#900; }
div#framework_error p { margin:0; padding:4px 6px 10px; }
div#framework_error tt,
div#framework_error pre,
div#framework_error code { font-family:monospace; padding:2px 4px; font-size:12px; color:#333;
	white-space:pre-wrap; /* CSS 2.1 */
	white-space:-moz-pre-wrap; /* For Mozilla */
	word-wrap:break-word; /* For IE5.5+ */
}
div#framework_error tt { font-style:italic; }
div#framework_error tt:before { content:">"; color:#aaa; }
div#framework_error code tt:before { content:""; }
div#framework_error pre,
div#framework_error code { background:#eaeee5; border:solid 0 #D6D8D1; border-width:0 1px 1px 0; }
div#framework_error .block { display:block; text-align:left; }
div#framework_error .stats { padding:4px; background: #eee; border-top:solid 1px #ccc; text-align:center; font-size:10px; color:#888; }
div#framework_error .backtrace { margin:0; padding:0 6px; list-style:none; line-height:12px; }