<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="bootstrap.php">
    <testsuites>
    	<testsuite name="Ushahidi_Web_Tests">
    		<directory>./classes</directory>
    	</testsuite>
    </testsuites>
    
    <php>
        <server name="HTTP_HOST" value="localhost" />
        <server name="SERVER_NAME" value="localhost" />
        <server name="REMOTE_ADDR" value="127.0.0.1" />
    </php>
    
</phpunit>
